section.header.inner-container
    .container
        nav.header__nav.nav
            include ../../block/logo/logo
            ul.nav__list.list-reset
                li.nav__item
                    a.nav__link.nav__link--active(href="#") Home
                li.nav__item
                    a.nav__link(href="#") Explore
                li.nav__item
                    a.nav__link(href="#") Travel
                li.nav__item
                    a.nav__link(href="#") Blog
                li.nav__item
                    a.nav__link(href="#") Pricing
            ul.nav__list.list-reset
                li.nav__item
                    a.nav__link(href="#") Login
                li.nav__item
                    a.nav__link.nav__link--theme-orange(href="#") Sign Up