section.main-section
    include section-popular/popular
    include section-offer/offer
    include section-blog/blog
    include section-planners/planners
    include section-gallery/gallery
    include section-experiences/experiences