.popular // Попробовать вынести отдельным классом
  position: relative

  &-title-before-width
    &:before
      //white-space: nowrap
      width: 365px

      @include mobile
        width: 227px

.popular-slider
  display: flex
  gap: 32px
  white-space: nowrap
  overflow: hidden
  scroll-behavior: smooth
  padding-top: 5px

  @include tablet
    margin-bottom: 100px

  //@include mobile
  //  margin-bottom: 100px

  &__picture
    position: absolute
    //top: 0
    left: 0
    bottom: 0
    z-index: -1

    @include tablet
      min-width: 728px
      min-height: 456px

    @include mobile
      min-width: 288px
      min-height: 320px



  //&__img
  //  position: absolute
  //  //width: 497px
  //  //height: 661px
  //  top: 0
  //  left: 0
  //  z-index: -1

    //@include mobile
    //  width: 288px
    //  height: 320px

  &__item
    position: relative
    display: flex
    flex-direction: column
    justify-content: flex-end
    padding: 40px 24px
    min-width: 497px
    min-height: 661px
    border-radius: 25px
    background-color: rgba(128, 128, 128, 0.1)
    //background-blend-mode: multiply
    transition: all 0.3s ease-in-out
    cursor: pointer

    @include tablet
      min-width: 728px
      min-height: 456px

    @include mobile
      min-width: 288px
      min-height: 320px
      padding: 40px 20px
      border-radius: 16px 16px 16px 16px

  &__title
    margin: 0
    margin-bottom: 17px
    font-family: $font-family
    font-size: 28px
    font-weight: 500
    line-height: 37px
    color: $light-color

    @include mobile
      font-size: 24px
      line-height: 32px

  &__descr
    margin: 0
    font-family: $second-family regular
    font-size: 24px
    font-weight: 400
    line-height: 28px
    color: $light-color

    @include mobile
      font-size: 18px
      line-height: 21px

    &:before
      content: url("/img/svg/location.svg")
      fill: white
      margin-right: 16px

.dragging // Перенести в setting, узнать почему приходится прописывать еще и здесь
  font-size: 150px // ведь уже заданы такие же классы и стили в offer.sass
  cursor: grab
  scroll-behavior: auto

  img
    pointer-events: none