include ../../mixin/content
include ../../mixin/slider-button
include ../../mixin/popular-slider
-
    let data = [
        {
        pathImg: 'popular-destinations-1',
        nameAttractions: 'Monument of Berlin',
        nameCountry: 'Berlin, Germany'
        },
        {
        pathImg: 'popular-destinations-2',
        nameAttractions: 'Millennium Bridge',
        nameCountry: 'London, United Kingdom'
        },
        {
        pathImg: 'popular-destinations-3',
        nameAttractions: 'Rialto Bridge',
        nameCountry: 'Venice, Italy'
        },
        {
        pathImg: 'popular-destinations-4',
        nameAttractions: 'Monument of Berlin',
        nameCountry: 'Berlin, Germany'
        },
        {
        pathImg: 'popular-destinations-4',
        nameAttractions: 'Monument of Berlin',
        nameCountry: 'Berlin, Germany'
        },
        {
        pathImg: 'popular-destinations-4',
        nameAttractions: 'Monument of Berlin',
        nameCountry: 'Berlin, Germany'
        }
    ];
-
    let description = [
        {
        title: 'Popular Destinations',
        subtitle: 'Most popular destinations around the world, from historical places to natural wonders.'
        }
    ];

section.popular.inner-container.main-container
    +content('popular', description, false)
        +sliderButton('right')
    +popularSlider('popular', data)