section.popular.inner-container
    .popular__content
        h2.title-appearance Popular Destinations
        p.descr-appearance Most popular destinations around the world, from historical places to natural wonders.
    .popular__slider
        include ../../slider-button/slider-button
        .slider__cards
            .slider__cards-item
                img.slider__cards-img(src="/img/popular-destinations-1.png")
                h3.slider__cards-title Monument of Berlin
                p.slider__cards-descr Berlin, Germany
            .slider__cards-item
                img.slider__cards-img(src="/img/popular-destinations-2.png")
                h3.slider__cards-title Millennium Bridge
                p.slider__cards-descr London, United Kingdom
            .slider__cards-item
                img.slider__cards-img(src="/img/popular-destinations-3.png")
                h3.slider__cards-title Rialto Bridge
                p.slider__cards-descr Venice, Italy
            .slider__cards-item
                img.slider__cards-img(src="/img/popular-destinations-4.png")
                h3.slider__cards-title Кыргызста́н при Собянине
                p.slider__cards-descr Александр, Петушария
            .slider__cards-item
                img.slider__cards-img(src="/img/popular-destinations-4.png")
                h3.slider__cards-title Скажи Маше поменять Шрифты
                p.slider__cards-descr Александр, Петушария
            .slider__cards-item
                img.slider__cards-img(src="/img/popular-destinations-4.png")
                h3.slider__cards-title Кто живет рядом с горами Петух
                p.slider__cards-descr Александр, Петушария

