section.book
    .book__container.container.grid
        .book__content
            h1.book__title.grid Start your unforgettable journey with us.
            p.book__descr The best travel for your jouney begins now
    .book__register.book--position
        form.book__form
            .book__group
                label.book__label(for="country-name") Destintaion
                input.book__input(type="text" id="country-name" name="country-name")
            .book__group
                label.book__label(for="person-select") Person
                select.book__input(id="person-select" name="person-select")
                    option(value="")
                    option(value="1") 1
                    option(value="2") 2
            .book__group
                label.book__label(for="date-check-in") Check in
                input.book__input(type="date" id="date-check-in" name="date-check-in")
            .book__group
                label.book__label(for="date-check-out") Check out
                input.book__input(type="date" id="date-check-out" name="date-check-out")
        .book__next
            a.book__link Book <br> Now

