mixin content(name, des, addClass)
    if addClass
        div.position-content.content
            each dataItem in des
                h2(class=name + '-title-before-width').title-appearance=dataItem.title
                p.descr-appearance=dataItem.subtitle
                block
    else
        .content
            each dataItem in des
                h2(class=name + '-title-before-width').title-appearance=dataItem.title
                p.descr-appearance=dataItem.subtitle
                block