mixin sliderButton(name)
    .slider-button(class='button-position-' + name)
        button.slider-button__appearance.prev
            include ../../img/svg/left-arrow.svg
        button.slider-button__appearance.next
            include ../../img/svg/right-arrow.svg