.offer // Попробовать вынести отдельным классом
  position: relative

  &-title-before-width
    &:before
      width: 241px
      right: 0
      //left: unset //Отменяет

  &-wrapper-descr-button
    flex-direction: row-reverse

.offer-slider
  display: flex
  gap: 32px
  overflow: hidden
  scroll-behavior: smooth

  @include tablet
    margin-bottom: 100px

  &__item
    display: flex
    flex-direction: column
    justify-content: flex-end
    border-radius: 26px
    min-height: 629px
    min-width: 497px
    background-color: #FFF8F1

    background-repeat: no-repeat
    background-position: top center
    background-size: contain
    cursor: pointer

    @include desktop
      //width: 390px
      min-width: 437px

    @include bigTablet
      min-width: 341px

    @include tablet
      min-width: 728px
      min-height: 274px

    @include mobile
      min-width: 288px

  &__container
    padding: 40px 24px

    @include bigTablet
      padding: 20px 24px

  &__title
    margin-bottom: 8px
    font-family: $third-family
    font-weight: 400
    font-size: 28px
    color: $descr-title

  &__rating
    display: flex
    margin-bottom: 24px

    .star
      color: $star-color

  &__descr
    margin-bottom: 32.5px
    font-family: $second-family
    font-weight: 400
    font-size: 18px
    color: $title-color

    @include desktop
      //width: 390px
      //width: 437px

  &__inf
    display: flex
    justify-content: space-between
    align-items: center

    @include  mobile
      flex-direction: column
      justify-content: flex-start
      align-items: flex-start
      gap: 20px

  &__price
    margin: 0
    font-family: $second-family
    font-size: 40px
    line-height: 47px
    color: $accent-color

    @include bigTablet
      font-size: 28px
      line-height: 33px

    &:before
      content: "From"
      margin-right: 8px
      font-size: 20px
      color: #767E86

  &__details
    padding: 20px 40px
    border: none
    cursor: pointer
    color: $light-color
    background-color: $accent-color
    border-radius: 12px

    font-family: $second-family
    font-size: 20px
    text-transform: uppercase
    width: 159px

    @include bigTablet
      width: 127px
      padding: 16px 24px

    &:hover
      color: $title-color
    &:active
      color: $hover-color

.dragging // Перенести в setting
  font-size: 150px
  cursor: grab
  scroll-behavior: auto

  img
    pointer-events: none