include ../../mixin/content
include ../../mixin/slider-button
include ../../mixin/popular-slider
-
    let data1 = [
        {
            pathImg: 'offer-1',
            nameDescription: '5 nights and 4 days in 5 star hotel, breakfast and lunch included. Very popular during the renaissance. Passage and going through the cites of the world in classical literature.',
            nameCountry: 'Lisbon, Portugal',
            namePrice: '€500'
        },
        {
            pathImg: 'offer-2',
            nameDescription: '5 nights and 4 days in 5 star hotel, breakfast and lunch included. Very popular during the renaissance. Passage and going through the cites of the world in classical literature.',
            nameCountry: 'Athens, Greece',
            namePrice: '€800'
        },
        {
            pathImg: 'offer-3',
            nameDescription: '5 nights and 4 days in 5 star hotel, breakfast and lunch included. Very popular during the renaissance. Passage and going through the cites of the world in classical literature.',
            nameCountry: 'Rome, Italy',
            namePrice: '€750'
        },
        {
            pathImg: 'offer-3',
            nameDescription: '5 nights and 4 days in 5 star hotel, breakfast and lunch included. Very popular during the renaissance. Passage and going through the cites of the world in classical literature.',
            nameCountry: 'Rome, Italy',
            namePrice: '€750'
        },
        {
            pathImg: 'offer-3',
            nameDescription: '5 nights and 4 days in 5 star hotel, breakfast and lunch included. Very popular during the renaissance. Passage and going through the cites of the world in classical literature.',
            nameCountry: 'Rome, Italy',
            namePrice: '€750'
        },
        {
            pathImg: 'offer-3',
            nameDescription: '5 nights and 4 days in 5 star hotel, breakfast and lunch included. Very popular during the renaissance. Passage and going through the cites of the world in classical literature.',
            nameCountry: 'Rome, Italy',
            namePrice: '€750'
        }
    ];
-
    let description1 = [
        {
            title: 'Special Offer',
            subtitle: 'Check out our special offer and discounts'
        }
    ];

section.offer.inner-container
    +content('offer', description1, true)
        +sliderButton('left')
    +offerSlider('offer', data1)