section.offer.inner-container
    .offer__content
        h2.title-appearance Special Offer
        p.descr-appearance Check out our special offer and discounts
    .offer__slider
        include ../../slider-button/slider-button
        .slider__cards
            .slider__cards-item.slider__cards-fone-1
                h3.slider__cards-title Lisbon, Portugal
                .slider__cards-rating
                    span.star
                        include ../../../img/svg/star.svg
                    span.star
                        include ../../../img/svg/star.svg
                    span.star
                        include ../../../img/svg/star.svg
                    span.star
                        include ../../../img/svg/star.svg
                    span.star
                        include ../../../img/svg/star.svg
                p.slider__cards-descr 5 nights and 4 days in 5 star hotel, breakfast and lunch included. Very popular during the renaissance. Passage and going through the cites of the world in classical literature.
                .slider__cards-inf
                    p.slider__cards-price €500
                    button.slider__cards-details details
            .slider__cards-item.slider__cards-fone-2
                h3.slider__cards-title Athens, Greece
                .slider__cards-rating
                    span.star
                        include ../../../img/svg/star.svg
                    span.star
                        include ../../../img/svg/star.svg
                    span.star
                        include ../../../img/svg/star.svg
                    span.star
                        include ../../../img/svg/star.svg
                    span.star
                        include ../../../img/svg/star.svg
                p.slider__cards-descr 5 nights and 4 days in 5 star hotel, breakfast and lunch included. Very popular during the renaissance. Passage and going through the cites of the world in classical literature.
                .slider__cards-inf
                    p.slider__cards-price €800
                    button.slider__cards-details details
            .slider__cards-item.slider__cards-fone-3
                h3.slider__cards-title Rome, Italy
                .slider__cards-rating
                    span.star
                        include ../../../img/svg/star.svg
                    span.star
                        include ../../../img/svg/star.svg
                    span.star
                        include ../../../img/svg/star.svg
                    span.star
                        include ../../../img/svg/star.svg
                    span.star
                        include ../../../img/svg/star.svg
                p.slider__cards-descr 5 nights and 4 days in 5 star hotel, breakfast and lunch included. Very popular during the renaissance. Passage and going through the cites of the world in classical literature.
                .slider__cards-inf
                    p.slider__cards-price €750
                    button.slider__cards-details details
            .slider__cards-item.slider__cards-fone-3
                h3.slider__cards-title Lisbon, Portugal
                .slider__cards-rating
                    span.star
                        include ../../../img/svg/star.svg
                    span.star
                        include ../../../img/svg/star.svg
                    span.star
                        include ../../../img/svg/star.svg
                    span.star
                        include ../../../img/svg/star.svg
                    span.star
                        include ../../../img/svg/star.svg
                p.slider__cards-descr 5 nights and 4 days in 5 star hotel, breakfast and lunch included. Very popular during the renaissance. Passage and going through the cites of the world in classical literature.
                .slider__cards-inf
                    p.slider__cards-price €500
                    button.slider__cards-details details
            .slider__cards-item.slider__cards-fone-3
                h3.slider__cards-title Lisbon, Portugal
                .slider__cards-rating
                    span.star
                        include ../../../img/svg/star.svg
                    span.star
                        include ../../../img/svg/star.svg
                    span.star
                        include ../../../img/svg/star.svg
                    span.star
                        include ../../../img/svg/star.svg
                    span.star
                        include ../../../img/svg/star.svg
                p.slider__cards-descr 5 nights and 4 days in 5 star hotel, breakfast and lunch included. Very popular during the renaissance. Passage and going through the cites of the world in classical literature.
                .slider__cards-inf
                    p.slider__cards-price €500
                    button.slider__cards-details details
