header.header.inner-container
    .container.flex
        nav.nav.flex(title="Main navigation")
            a.logo
                include ../../../img/svg/logo.svg
            ul.nav__list.nav__list-left.flex.list-reset
                li.nav__item
                    a.nav__link.active(href="#") Home
                li.nav__item
                    a.nav__link(href="#") Explore
                li.nav__item
                    a.nav__link(href="#") Travel
                li.nav__item
                    a.nav__link(href="#") Blog
                li.nav__item
                    a.nav__link(href="#") Pricing
            ul.nav__list.nav__list-right.flex.list-reset
                li.nav__item
                    a.nav__link(href="#") Login
                li.nav__item
                    a.nav__link.orange-backg(href="#") Sign Up

