//include ../../mixin/popular-slider

-
    let data4 = [
        {
            pathImg: 'gallery-1',
            pathImgDesktop: 'gallery-1-Desktop',
            pathImgBigTablet: 'gallery-1-bigTablet',
            pathImgTablet: 'gallery-1-tablet',
            pathImgMobile: 'gallery-1-mobile'
        },
        {
            pathImg: 'gallery-2',
            pathImgDesktop: 'gallery-2-Desktop',
            pathImgBigTablet: 'gallery-2-bigTablet',
            pathImgTablet: 'gallery-2-tablet',
            pathImgMobile: 'gallery-2-mobile'
        },
        {
            pathImg: 'gallery-3',
            pathImgDesktop: 'gallery-3-Desktop',
            pathImgBigTablet: 'gallery-3-bigTablet',
            pathImgTablet: 'gallery-3-tablet',
            pathImgMobile: 'gallery-3-mobile'
        },
        {
            pathImg: 'gallery-4',
            pathImgDesktop: 'gallery-4-Desktop',
            pathImgBigTablet: 'gallery-4-bigTablet',
            pathImgTablet: 'gallery-4-tablet',
            pathImgMobile: 'gallery-4-mobile'
        },
        {
            pathImg: 'gallery-4',
            pathImgDesktop: 'gallery-4-Desktop',
            pathImgBigTablet: 'gallery-4-bigTablet',
            pathImgTablet: 'gallery-4-tablet',
            pathImgMobile: 'gallery-4-mobile'
        },
        {
            pathImg: 'gallery-4',
            pathImgDesktop: 'gallery-4-Desktop',
            pathImgBigTablet: 'gallery-4-bigTablet',
            pathImgTablet: 'gallery-4-tablet',
            pathImgMobile: 'gallery-4-mobile'
        },
        {
            pathImg: 'gallery-4',
            pathImgDesktop: 'gallery-4-Desktop',
            pathImgBigTablet: 'gallery-4-bigTablet',
            pathImgTablet: 'gallery-4-tablet',
            pathImgMobile: 'gallery-4-mobile'
        },
        {
            pathImg: 'gallery-4',
            pathImgDesktop: 'gallery-4-Desktop',
            pathImgBigTablet: 'gallery-4-bigTablet',
            pathImgTablet: 'gallery-4-tablet',
            pathImgMobile: 'gallery-4-mobile'
        },
        {
            pathImg: 'gallery-4',
            pathImgDesktop: 'gallery-4-Desktop',
            pathImgBigTablet: 'gallery-4-bigTablet',
            pathImgTablet: 'gallery-4-tablet',
            pathImgMobile: 'gallery-4-mobile'
        }
    ];
-
    let description4 = [
        {
            title: 'Destination Gallery',
            subtitle: 'Our photo gallery on trip'
        }
    ];

section.gallery.inner-container.main-container
    +content('gallery', description4, false)
        +sliderButton('gallery', true)
    +gallerySlider('gallery', data4)
