section.gallery.inner-container
    .gallery__content
        h2.title-appearance Destination Gallery
        p.descr-appearance Our photo gallery on trip
        include ../../block/slider-button/slider-button
    .gallery__slider
        .slider__cards.carousel
            .slider__cards-item
                img.slider__cards-img(src="/img/gallery-1.png")
            .slider__cards-item
                img.slider__cards-img(src="/img/gallery-2.png")
            .slider__cards-item
                img.slider__cards-img(src="/img/gallery-3.png")
            .slider__cards-item
                img.slider__cards-img(src="/img/gallery-4.png")
            .slider__cards-item
                img.slider__cards-img(src="/img/gallery-4.png")
            .slider__cards-item
                img.slider__cards-img(src="/img/gallery-4.png")
