section.book.inner-container
    .book__content
        h1.book__title Start your unforgettable <br> journey with us.
        p.book__descr The best travel for your jouney begins now
        .book__slider.slider
            span.slider__dot.slider__dot--current
            span.slider__dot
            span.slider__dot
            span.slider__dot
            span.slider__dot
            button.slider__button.slider-button.prev-slide
                include ../../../img/svg/chevron-up.svg
            button.slider__button.slider-button.next-slide
                include ../../../img/svg/chevron-down.svg
    .book__register
        form.book__form
            .book__input-container
                label.book__label Destintaion
                    input.book__input(type="text" name="country-name" value="Dubai")
                label.book__label Person
                    select.book__input(name="person-select")
                        option(value="1") 1
                        option(value="2" selected) 2
                label.book__label Check in
                    input.book__input(type="date" name="date-check-in" value="2023-05-20")
                label.book__label Check out
                    input.book__input(type="date" name="date-check-out" value="2025-05-20")
            buttom.book__next Book <br> Now
                include ../../../img/svg/arrow-right.svg


