head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Travellian
    link(rel="preload" href="../resources/fonts/PlayfairDisplay-Regular.ttf" as="font" crossorigin)
    link(rel="preload" href="../resources/fonts/Rubik-Regular.ttf" as="font" crossorigin)
    link(rel="preload" href="../resources/fonts/Mulish-Regular.ttf" as="font" crossorigin)
    link(rel="stylesheet" href="./sass/vendor/normalize.css")
    link(rel="preload" href="../../img/background-image-header-1.jpg" as="image")
    link(rel="preload" href="../../img/background-image-header-2.jpg" as="image")
    link(rel="preload" href="../../img/background-image-header-3.jpg" as="image")
    link(rel="preload" href="../../img/background-image-header-4.jpg" as="image")
    link(rel="preload" href="../../img/background-image-header-5.jpg" as="image")

