.footer.inner-container
    .footer__logo
        include ../block/logo/logo
        .footer__logo-copy Copyright © Travellian 2020 All rights reserved
    .footer__column
        h4.footer__column-title Menu
        ul.footer__column-list
            li.footer__column-item
                a.footer__column-link Home
            li.footer__column-item
                a.footer__column-link Explore
            li.footer__column-item
                a.footer__column-link Travel
            li.footer__column-item
                a.footer__column-link Blog
            li.footer__column-item
                a.footer__column-link Pricing
    .footer__column
        h4.footer__column-title Information
        ul.footer__column-list
            li.footer__column-item
                a.footer__column-link Destinations
            li.footer__column-item
                a.footer__column-link Supports
            li.footer__column-item
                a.footer__column-link Terms & Conditions
            li.footer__column-item
                a.footer__column-link Privacy
    .footer__column
        h4.footer__column-title Contact Info
        ul.footer__column-list
            li.footer__column-item
                a.footer__column-link +123 456 789
            li.footer__column-item
                a.footer__column-link info@travellian.com
            li.footer__column-item
                a.footer__column-link 1245, New Yourk, USA
    .footer__column
        h4.footer__column-title Follow us on
        ul.footer__column-list.media-position
            li.footer__column-item
                a.footer__column-link
                    include ../../img/svg/facebook.svg
            li.footer__column-item
                a.footer__column-link
                    include ../../img/svg/pinterest.svg
            li.footer__column-item
                a.footer__column-link
                    include ../../img/svg/instagram.svg
            li.footer__column-item
                a.footer__column-link
                    include ../../img/svg/twitter.svg