include ../../mixin/newsletter-form
-
    let data5 = [
        {
            pathImg: 'avatar-1',
            nameReview: 'But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system and expound the actual teachings of the great explorer of the truth, the master- builder of human happiness.',
            nameAuthor: 'John Doe',
            nameProfession: 'Accountant'
        },
        {
            pathImg: 'avatar-2',
            nameReview: 'But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system and expound the actual teachings of the great explorer of the truth, the master- builder of human happiness.',
            nameAuthor: 'John Smith',
            nameProfession: 'Journalist, HWO News'
        },
        {
            pathImg: 'avatar-3',
            nameReview: 'But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system and expound the actual teachings of the great explorer of the truth, the master- builder of human happiness.',
            nameAuthor: 'Tamara Bellis',
            nameProfession: 'Managing Director, JTH'
        },
        {
            pathImg: 'avatar-3',
            nameReview: 'But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system and expound the actual teachings of the great explorer of the truth, the master- builder of human happiness.',
            nameAuthor: 'Tamara Bellis',
            nameProfession: 'Managing Director, JTH'
        },
        {
            pathImg: 'avatar-3',
            nameReview: 'But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system and expound the actual teachings of the great explorer of the truth, the master- builder of human happiness.',
            nameAuthor: 'Tamara Bellis',
            nameProfession: 'Managing Director, JTH'
        },
        {
            pathImg: 'avatar-3',
            nameReview: 'But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system and expound the actual teachings of the great explorer of the truth, the master- builder of human happiness.',
            nameAuthor: 'Tamara Bellis',
            nameProfession: 'Managing Director, JTH'
        }
    ];
-
    let description5 = [
        {
            title: 'Traveler’s Experiences',
            subtitle: 'Here some awesome feedback from our travelers'
        }
    ];
-
    let newsletter = [
        {
            title: 'Our Newsletter',
            nameButton: 'Subscribe',
            nameLabel: 'Email'
        }
    ];

section.experiences.inner-container.main-container
    +content('experiences', description5)
    +experiencesSlider('experiences', data5)
    +sliderButton('experiences', false)
    +newsletter('experiences', newsletter)