.experiences
  padding: 140px 15px 110px 15px

  .main-button
    justify-content: center
    margin-bottom: 20px

  &__content
    margin-bottom: 160px

    .title-appearance
      &:before
        width: 347px

  &__newsletter
    display: flex
    justify-content: center

    &-wrapper
      display: flex
      align-items: center
      padding: 60px 80px
      gap: 100px
      border-radius: 26px
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3)

      transform: translateY(200px)
      background-color: #fff

    &-title
      margin: 0
      font-family: $font-family
      font-weight: 400
      font-size: 64px
      line-height: 85px
      color: $descr-title

    &-form
      display: flex

    &-label
      margin-right: 20px
      font-family: $second-family
      font-weight: 400
      font-size: 20px
      line-height: 24px
      color: $descr-title

    &-input
      display: flex
      flex-direction: column
      margin-top: 16px
      padding: 24px 40px
      border-radius: 12px
      font-weight: 400
      font-size: 20px
      line-height: 24px
      border: none
      background-color: #FFE8D4

      &::placeholder
        color: $accent-color

    &-button
      margin: 0
      padding: 16px 34.5px
      align-self: flex-end
      background-color: $accent-color
      border-radius: 12px
      border: none
      color: #fff

      font-family: $second-family
      font-weight: 400
      font-size: 20px
      line-height: 24px

.experiences__slider
  margin-bottom: 160px
.experiences__slider .slider
  &__cards
    display: flex
    position: relative
    padding-top: 60px
    gap: 32px
    overflow: hidden
    scroll-behavior: smooth

    &-item
      padding: 60px 40px 40px 40px
      background-color: #F5F6F7
      border-radius: 12px

    &-img
      position: absolute
      transform: translateY(-120px)

    &-review
      margin: 0
      margin-bottom: 20px
      font-family: $second-family
      font-size: 18px
      font-weight: 400
      line-height: 23px
      color: $descr-title
      min-width: 583px

    &-rating
      margin-bottom: 20px
      color: $star-color

    &-author
      margin: 0
      margin-bottom: 4px
      font-family: $font-family
      font-size: 24px
      font-weight: 400
      line-height: 32px
      color: $descr-title

    &-profession
      margin: 0
      font-family: $second-family
      font-size: 18px
      font-weight: 400
      line-height: 21px
      color: $descr-title