.experiences.inner-container
    .experiences__content
        h2.title-appearance Traveler’s Experiences
        p.descr-appearance Here some awesome feedback from our travelers
    .experiences__slider
        .slider__cards.carousel
            .slider__cards-item
                img.slider__cards-img(src="/img/avatar-1.png")
                p.slider__cards-review But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system and expound the actual teachings of the great explorer of the truth, the master- builder of human happiness.
                .slider__cards-rating
                    span.star
                        include ../../../img/svg/star.svg
                    span.star
                        include ../../../img/svg/star.svg
                    span.star
                        include ../../../img/svg/star.svg
                    span.star
                        include ../../../img/svg/star.svg
                    span.star
                        include ../../../img/svg/star.svg
                p.slider__cards-author John Doe
                p.slider__cards-profession Accountant
            .slider__cards-item
                img.slider__cards-img(src="/img/avatar-2.png")
                p.slider__cards-review But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system and expound the actual teachings of the great explorer of the truth, the master- builder of human happiness.
                .slider__cards-rating
                    span.star
                        include ../../../img/svg/star.svg
                    span.star
                        include ../../../img/svg/star.svg
                    span.star
                        include ../../../img/svg/star.svg
                    span.star
                        include ../../../img/svg/star.svg
                    span.star
                        include ../../../img/svg/star.svg
                p.slider__cards-author John Smith
                p.slider__cards-profession Journalist, HWO News
            .slider__cards-item
                img.slider__cards-img(src="/img/avatar-3.png")
                p.slider__cards-review But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system and expound the actual teachings of the great explorer of the truth, the master- builder of human happiness.
                .slider__cards-rating
                    span.star
                        include ../../../img/svg/star.svg
                    span.star
                        include ../../../img/svg/star.svg
                    span.star
                        include ../../../img/svg/star.svg
                    span.star
                        include ../../../img/svg/star.svg
                    span.star
                        include ../../../img/svg/star.svg
                p.slider__cards-author Tamara Bellis
                p.slider__cards-profession Managing Director, JTH
            .slider__cards-item
                img.slider__cards-img(src="/img/avatar-3.png")
                p.slider__cards-review But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system and expound the actual teachings of the great explorer of the truth, the master- builder of human happiness.
                .slider__cards-rating
                    span.star
                        include ../../../img/svg/star.svg
                    span.star
                        include ../../../img/svg/star.svg
                    span.star
                        include ../../../img/svg/star.svg
                    span.star
                        include ../../../img/svg/star.svg
                    span.star
                        include ../../../img/svg/star.svg
                p.slider__cards-author John Doe
                p.slider__cards-profession Accountant
            .slider__cards-item
                img.slider__cards-img(src="/img/avatar-3.png")
                p.slider__cards-review But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system and expound the actual teachings of the great explorer of the truth, the master- builder of human happiness.
                .slider__cards-rating
                    span.star
                        include ../../../img/svg/star.svg
                    span.star
                        include ../../../img/svg/star.svg
                    span.star
                        include ../../../img/svg/star.svg
                    span.star
                        include ../../../img/svg/star.svg
                    span.star
                        include ../../../img/svg/star.svg
                p.slider__cards-author John Doe
                p.slider__cards-profession Accountant
    include ../../slider-button/slider-button
    .experiences__newsletter
        .experiences__newsletter-wrapper
            p.experiences__newsletter-title Our Newsletter
            form.experiences__newsletter-form
                    label.experiences__newsletter-label Email
                        input.experiences__newsletter-input(type="email" name="email" placeholder="Enter your email")
                    button.experiences__newsletter-button Subscribe