//.slider-button
//    button.main-button__appearance.prev
//        include ../../../img/svg/left-arrow.svg
//    button.main-button__appearance.next
//        include ../../../img/svg/right-arrow.svg