section.planners.inner-container
    .planners__content
        h2.title-appearance Trip Planners
        p.descr-appearance 20 years from now you will be more disappointed by the things that you didn’t do. Stop regretting and start travelling, start throwing off the bowlines.
        button.planners__content-button View all trip plans
    .planners__slider
        .slider__cards
            .slider__cards-item
                img.slider__cards-img(src="/img/planners-1.png")
                .slider__cards-hidden
                    p.slider__cards-name Guided Tour
                    p.slider__cards-price €99/Day
                    h3.slider__cards-title Paris City Tour
                    .slider__cards-rating
                        span.star
                            include ../../../img/svg/star.svg
                        span.star
                            include ../../../img/svg/star.svg
                        span.star
                            include ../../../img/svg/star.svg
                        span.star
                            include ../../../img/svg/star.svg
                        span.star
                            include ../../../img/svg/star.svg
                    p.slider__cards-duration 7 Days tour
            .slider__cards-item
                img.slider__cards-img(src="/img/planners-2.png")
                .slider__cards-hidden
                    p.slider__cards-name Guided Tour
                    p.slider__cards-price €99/Day
                    h3.slider__cards-title Paris City Tour
                    .slider__cards-rating
                        span.star
                            include ../../../img/svg/star.svg
                        span.star
                            include ../../../img/svg/star.svg
                        span.star
                            include ../../../img/svg/star.svg
                        span.star
                            include ../../../img/svg/star.svg
                        span.star
                            include ../../../img/svg/star.svg
                    p.slider__cards-duration 7 Days tour
            .slider__cards-item
                img.slider__cards-img(src="/img/planners-3.png")
                .slider__cards-hidden
                    p.slider__cards-name Guided Tour
                    p.slider__cards-price €99/Day
                    h3.slider__cards-title Paris City Tour
                    .slider__cards-rating
                        span.star
                            include ../../../img/svg/star.svg
                        span.star
                            include ../../../img/svg/star.svg
                        span.star
                            include ../../../img/svg/star.svg
                        span.star
                            include ../../../img/svg/star.svg
                        span.star
                            include ../../../img/svg/star.svg
                    p.slider__cards-duration 7 Days tour
            .slider__cards-item
                img.slider__cards-img(src="/img/planners-4.png")
                .slider__cards-hidden
                    p.slider__cards-name Guided Tour
                    p.slider__cards-price €99/Day
                    h3.slider__cards-title Paris City Tour
                    .slider__cards-rating
                        span.star
                            include ../../../img/svg/star.svg
                        span.star
                            include ../../../img/svg/star.svg
                        span.star
                            include ../../../img/svg/star.svg
                        span.star
                            include ../../../img/svg/star.svg
                        span.star
                            include ../../../img/svg/star.svg
                    p.slider__cards-duration 7 Days tour
            .slider__cards-item
                img.slider__cards-img(src="/img/planners-4.png")
                .slider__cards-hidden
                    p.slider__cards-name Guided Tour
                    p.slider__cards-price €99/Day
                    h3.slider__cards-title Paris City Tour
                    .slider__cards-rating
                        span.star
                            include ../../../img/svg/star.svg
                        span.star
                            include ../../../img/svg/star.svg
                        span.star
                            include ../../../img/svg/star.svg
                        span.star
                            include ../../../img/svg/star.svg
                        span.star
                            include ../../../img/svg/star.svg
                    p.slider__cards-duration 7 Days tour
            .slider__cards-item
                img.slider__cards-img(src="/img/planners-4.png")
                .slider__cards-hidden
                    p.slider__cards-name Guided Tour
                    p.slider__cards-price €99/Day
                    h3.slider__cards-title Paris City Tour
                    .slider__cards-rating
                        span.star
                            include ../../../img/svg/star.svg
                        span.star
                            include ../../../img/svg/star.svg
                        span.star
                            include ../../../img/svg/star.svg
                        span.star
                            include ../../../img/svg/star.svg
                        span.star
                            include ../../../img/svg/star.svg
                    p.slider__cards-duration 7 Days tour
            .slider__cards-item
                img.slider__cards-img(src="/img/planners-4.png")
                .slider__cards-hidden
                    p.slider__cards-name Guided Tour
                    p.slider__cards-price €99/Day
                    h3.slider__cards-title Paris City Tour
                    .slider__cards-rating
                        span.star
                            include ../../../img/svg/star.svg
                        span.star
                            include ../../../img/svg/star.svg
                        span.star
                            include ../../../img/svg/star.svg
                        span.star
                            include ../../../img/svg/star.svg
                        span.star
                            include ../../../img/svg/star.svg
                    p.slider__cards-duration 7 Days tour

